<a href="https://colab.research.google.com/github/Coreharshit/PYTHON/blob/main/sem4program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Swapping two Number

In [1]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print(a,b)
a,b=b,a
print(a,b)#numbers swapped

enter first number5
enter second number6
5 6
6 5

Swap two number using third variable

In [2]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print(a,b)
temp=a
a=b
b=temp
print(a,b)#numbers swapped

enter first number4
enter second number3
4 3
3 4

***Putting Semicolon at the end wont raises any error rather than termination it signifies seperation between statements.***

Check wheather element present in sequence or not?

In [3]:
l=[2,3,1,9,8]
n=8
if n  in l:
  print("present")
else:
  print("not present")

present

Check wheather its leap year or not?

In [5]:
year=int(input("Enter year to check - "))
if year%400==0:
  print("leap year")
elif year%100==0:
  print("its not leap year")
elif year%4==0:
  print("leap year")
else:
  print("its not leap year")

Enter year to check - 1400
its not leap year

program to make calculator?

In [7]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=input("enter operator + -  * /")
if c=='+':
  print(a+b)
elif c=='-':
  print(a-b)
elif c=='*':
  print(a*b)
elif c=='/':
  print(a/b)
else:
  print("choose correct options :(")

enter first number5
enter second number8
enter operator + -  * /*
40

Prints numbers from 0,57 only even one's only using for loop?

In [8]:
for i in range(0,57,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56

Armstrong number   
**153->1^3+5^3+3^3=153**

In [12]:
a=int(input("enter the number"))
c=0
num=a
while(a>0):
  b=a%10
  c=c+b**len(str(num))
  a=a//10
if c==num:
  print("armstrong number")
else:
  print("not armstrong number")

enter the number153
armstrong number

Check wheather number is palindrome or not ?

In [13]:
a=int(input("enter the number"))
c=0
num=a
while(a>0):
  b=a%10
  c=c*10+b
  a//=10
if c==num:
  print("palindrome number")
else:
  print("not palindrome number")

enter the number151
palindrome number

Program to find factorial of number?

In [14]:
n=int(input("enter number to find factorial - "))
p=1
for x in range (1,n+1):
  p=p*x
print("factorial is :",p)

enter number to find factorial - 5
factorial is : 120

program to find fibonacci series?

In [17]:
n=int(input("number of terms in fibonacci - "))
n1=0
n2=1
print(n1)
print(n2)
count=2
while(n>count):
  n3=n1+n2
  print(n3)
  n1=n2
  n2=n3
  count+=1

number of terms in fibonacci - 10
0
1
1
2
3
5
8
13
21
34

Check given number is prime or not ?

In [19]:
x=int(input("enter number for checking - "))
count=0
for j in range(2,x):
  if x%j==0:
    count+=1
    break
if count==0:
  print("prime number")
else:
  print("not prime number")

enter number for checking - 22
not prime number

Print the following pattern?

In [20]:
for x in range(5):
  for y in range(x+1):
    print("*",end="")
  print()
#

*
**
***
****
*****

Print reverse of number?

In [21]:
n=int(input("enter the number"))
c=0
while(n>0):
  b=n%10
  c=c*10+b
  n//=10
print(c)

enter the number134
431

Print pattern?

In [22]:
for c in range(5):
  for y in range(5-c):
    print("*",end="")
  print()

*****
****
***
**
*

Write a program to coonvert 12 hrs format into 24 hrs format

In [24]:
def convert(str):
  if str[-2:]=="AM" and str[:2]=="12":
    return "00"+str[2:-2]
  elif str[-2:]=="AM":
    return str[:-2]
  elif str[-2:]=="PM" and str[:2]=="12":
    return str[:-2]
  else:
    return str
convert("12:05:45 AM")

'00:05:45 '

Print pattern?

In [25]:
for c in range(5):
  for v in range(c+1):
    print("*",end ="")
  print()
for v in range(4):
  for c in range(4-v):
    print("*",end="")
  print()

*
**
***
****
*****
****
***
**
*

List Comprehension

In [26]:
l=[1,2,3,4,5]
lm=[x**2 for x in l]
print(lm)

[1, 4, 9, 16, 25]

In [27]:
l=[x for x in range(5)]
print(l)

[0, 1, 2, 3, 4]

In [40]:
l=[1,2,3,4,5,6,7,8,9]
print(l[-1:-9:-1])
print(l[2:8])
print(l[::2])
print(l[len(l)//2:])
print(l[len(l)//2::-1]+l[len(l)//2+1:])
for c in range(0,len(l)):
  l[c]=l[c]%2
print(l)

[9, 8, 7, 6, 5, 4, 3, 2]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[5, 6, 7, 8, 9]
[5, 4, 3, 2, 1, 6, 7, 8, 9]
[1, 0, 1, 0, 1, 0, 1, 0, 1]

make pair of two equal length list?

In [41]:
l1=[2,3,4]
l2=[4,7,8]
def map(l1,l2):
  if len(l1)==len(l2):
    l=[(l1[i],l2[i]) for i in range(len(l1))]
    return l
print(map(l1,l2))

[(2, 4), (3, 7), (4, 8)]

swap first and last character of string and display modified string ?

In [43]:
def modify(str):
  print(str[-1]+str[1:-1]+str[0])
modify("stark")

ktars

program takes strings and calculate number of upper case , lower case , digits?

In [46]:
def counter(str):
  u=0
  l=0
  d=0
  for c in str:
    if c.isupper():
      u+=1
    elif c.islower():
      l+=1
    elif c.isdigit():
      d+=1
    else:
      continue

  print(" no. of upper letter",u)
  print(" no. of lower letter",l)
  print(" no. of digits",d)

str=input("enter a string  --    ")
counter(str)

enter a string  --    Hexidn234AS
 no. of upper letter 3
 no. of lower letter 5
 no. of digits 3

Write a program to count number of vowels present in sentence?

In [47]:
s=input("enter string --  ")
l=["a","e","i","o","u","A","E","I","O","U"]
c=0
for x in s:
  if x in l:
    c+=1
print("no. of vowels are ",c)

enter string --  Sanaious
no. of vowels are  5

Write a program to check wheather string is palindrome or not ?

In [48]:
s=input("enter string --  ")
if s==s[::-1]:
  print("palindrome")
else:
  print("not palindrome")

enter string --  holoh
palindrome

How you can randomize list in python?

In [49]:
import random
l=[1,2,3,4,5,6,7,8,9]
random.shuffle(l)
print(l)

[3, 5, 6, 4, 9, 8, 2, 7, 1]

take multiple line convert it into upper case and store it into list and print it

In [52]:
up=[]
a=int(input("how many lines you want to enter"))
for x in range(a):
  s=input("enter string --  ")
  up.append(s.upper())
for c in up:
  print(c)

how many lines you want to enter2
enter string --  hello
enter string --  world
HELLO
WORLD

program for perfect square?

In [60]:
import math
def perfect_square(num):
  z=math.sqrt(num)
  if math.floor(math.sqrt(num))==z:
    return True
  else:
    return False
print(perfect_square(16))
print(perfect_square(14))

True
False

join method in python?

In [61]:
l=["M","O","N","K","E","Y"]
print("@".join(l))

M@O@N@K@E@Y

Take comma seperated values as string and sort them in order?

In [62]:
l=input("enter comma seperated values")
l=l.split(",")
l.sort()
print(",".join(l))

enter comma seperated valueshello,bag,is,apple
apple,bag,hello,is

Construct a function ret_smaller(l) that return smaller list from nested list if two list have same length then return the first list that is encountered .

In [64]:
def ret_smaller(l):
  if len(l)==0:
    return []
  else:
    smaller=l[0]
    for  x in l[1:]:
      if len(x)<len(smaller):
        smaller=x
    return smaller
nested_list=[[1,2,3],[4,3,5,2],[3,4],[10]]
print(ret_smaller(nested_list))

[10]

Dictionary basic operation?

In [9]:
dic={1:"hello",2:"world"}
print(dic.items())
print(dic.keys())
print(dic.values())
l={1:"mohan"}
dic.update(l)
print(dic)
print(dic.get(1))
print(dic.popitem())
print(dic)

dict_items([(1, 'hello'), (2, 'world')])
dict_keys([1, 2])
dict_values(['hello', 'world'])
{1: 'mohan', 2: 'world'}
mohan
(2, 'world')
{1: 'mohan'}

Write a program to remove kth element form string ("python",2)->"pyhon"

In [10]:
def rem(str,indexv):
  s=""
  for x in range(len(str)):
    if x!=indexv:
      s+=str[x]
  return s
print(rem("python",2))

pyhon

A website requires the users to input username and password to register. Construct a program to check the validity of password input by users. Following are the criteria for checking the password         (Aktu 2023-24 ODD)

GW

1. At least 1 letter between [a-z]

2. At least 1 number between [0-9]

3. At least 1 letter between [A-Z]

4. At least 1 character from [$#@]

5. Minimum length of transaction password: 6

6. Maximum length of transaction password: 12

7. Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma

In [19]:
def validate(s):
  p=s.split(",")
  for x in p:
    if len(x)>=6 and len(x)<=12:
      l=0
      u=0
      d=0
      sy=0
      for c in x:
        if c.islower():
          l+=1
        elif c.isupper():
          u+=1
        elif c.isdigit():
          d+=1
        elif c=="@" or c=="$" or c=="#":
          sy+=1
        else:
          continue
      if l>0 and u>0 and d>0 and sy>0:
        print(x)
s="HELLO,hexl,heLlo123$"
validate(s)

heLlo123$

Ques. Write a python function, search Many(s,x,k) that takes an argument a sequence sand

GW

integersx,k(k>0) the function returns true if there are.. k occurrences of x in s.otherwise it returns
false search Many ([10,17,15,12],15,1) return true, searchMany([10,12,12,12],12,2) return falseAKTU

(2020-21)

In [15]:
def searchmany(s,x,k):
  count=0
  for c in s:
    if c==x:
      count+=1
  if count==k:
    return True
  else:
    return False
print(searchmany([10,17,15,12],15,1))
print(searchmany([10,12,12,12],12,2))

True
False

Write a python program,count_square(N) that returns the count of perfect square less than or equal to N(N>=1) for example count_square(1) return 1 only prefect square less than equal to 1 count_square(5) return 2 (1, 4 are the prefect square less than equal to 2 count_square(55) return 7 (1,4,9,16,25,36,49)<=55 AKTU (2020-21)

In [22]:
def cis(num):
  if num<1:
    return 0
  elif num==1:
    return 1
  else:
    l=[]
    c=1
    count=1
    while(num>count):
      l.append(c**2)
      c+=1
      count=c**2
    return len(l)
print(cis(1))
print(cis(5))
print(cis(55))

1
2
7

Write a program factor(N) that return a list of all positive divisor of N (N>=1). AKTU (2020-21)

In [13]:
def factor(n):
  l=[]
  for c in range(1,n+1):
    if n%c==0:
      l.append(c)
  return l
print(factor(10))

[1, 2, 5, 10]

Write a python program to add item in a tuple. AKTU (2019-20)

In [11]:
t=(1,3,4,2)
l=list(t)
l.append(5)
t=tuple(l)
print(t)

(1, 3, 4, 2, 5)